ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  width: 1128px;
  margin: 0 auto;

  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;

  transition: transform 250ms ease;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
